.site-header{
    text-align: center;
    color: #9d9e9d;
    font-weight: bold;
    background: #c5ccff;
 }

 .site-header h1{
  margin: 0;
  padding: 10px 0px;
 }

.picture-properties {
    border-style: solid;
    border-color: white;
    border-radius: 35%;
    margin: 10px 0px 50px 0px;
    width: 300px;
}
  
    
.info-box {
    background-color: white;
    border-radius: 8%;
    margin: 0px 0px 20px 0px
}
    
.italic {
    font-style: italic;
}
    
.image {
    width: 180px;
    height: 180px;
}
    
.body-color{
  background: #9d9e9d;
}

.site-footer{
    text-align: center;
    color: #9d9e9d;
    font-weight: bold;
    background: #c5ccff;
 }